/*serve para importar uma fonte do google fonts*/

@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

/*o asteristico serve para colocar uma confiraçao 
padrao em todas as tags*/

* {
    /*a margin serve para dar uma margem*/
    margin: 0;
    /*o padding serve para dar um espaço interno da tag*/
    padding: 0;
}

body {
    /*o background-color serve para dar uma cor de fundo*/
    background-color: #333;
}

.home__logo {
    width: 35%
}

.home__banner_principal {
    width: 100%;
}

.home__div_video {
    /*serve para deixar algo flexivel e é sempre aplicada no pai*/
    display: flex;
    /*serve para justificar algo no centro e só funciona com o display flex*/
    justify-content: center;
}

.home__titulo_secundario {
    /*o primeiro valor serve para colacar uma margem em cima e embaixo e o segundo valor para colocar uma margem dos lados*/
    margin: 0.5em 0;
    /*serve para alterar a tipografia de um texto*/
    font-family: 'Liu Jian Mao Cao', cursive;
    /*serve para aumentar ou diminuir o tamanho do texto*/
    font-size: 2em;
    /*serve para alinhar o texto no centro*/
    text-align: center;
    /*serve para colocar somente as primeiras letras em maiúsculas*/
    text-transform: capitalize;
    /*serve para mudar a cor do texto*/
    color: #fff;
}

.home__video {
    width: 70%;
    height: 80vh;
}

.home__div_paragrafo {
    width: 80%;
    margin: 2em auto;
}

.home__paragrafo {
    color: #fff;
}

table,
th,
td {
    /*serve para colocar borda em algo
    1px -> a grossura da linha
    solid -> uma borda sólida
    #fff -> serve para colocar a cor da borda*/
    border: 1px solid #fff;
    /*serve para juntar as bordas da tabela*/
    border-collapse: collapse;
    /*serve para dar um espaço interno da tag*/
    padding: 5px;
    color: #fff;
    text-transform: capitalize;
}

.home__div_table_person {
    display: flex;
    justify-content: center;
}